/* прячем меню на мобильных устройствах */
body._mobile .menu__navigation,
body._mobile .menu__logo {
    display: none;
    /*opacity: 0;
    visibility: hidden;*/
  }
  /* и показываем вместо этого бургер */
  body._mobile .burger {
    position: relative;
    display: block;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  body._mobile .burger span,
  body._mobile .burger::before, 
  body._mobile .burger::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: #777;
    transition: all 0.3s ease 0s;
  }
  body._mobile .burger span {
    top: 50%;
  }
  body._mobile .burger::before,
  body._mobile .burger::after {
    content: "";
  }
  body._mobile .burger::before {
    top: 0%;
  }
  body._mobile .burger::after {
    top: 100%;
  }
  
  .burger {
    display: none;
  }
  
  ._mobile-menu-body {
    display: flex;
    justify-content: space-between;
  }
  ._mobile-menu-body .burger {
    align-self: center;
  }
  ._mobile-menu-list {
    display: none;
    padding: 30px;
  }
  ._mobile-menu-list._opened {
    position: absolute;
    top: 150%;
    left: 0;
    display: block;
    border-radius: 15px;
    background-color: rgba(255, 253, 253, 0.8);
    box-shadow: #eee;
    z-index: 100;
    li {
        margin-bottom: 24px;
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 2px;
        &:last-child {
            margin-bottom: 0px;
        }
        a {
            color: #808080;
        }
    }
  }

  
    /* анимируем "бургер" при открытом меню */
    body._mobile .burger._opened span {
      transform: scale(0) translate(0px, -50%);
    }
    body._mobile .burger._opened::before {
      top: 50%;
      transform: rotate(-45deg);
    }
    body._mobile .burger._opened::after {
      top: 50%;
      transform: rotate(45deg);
    }