@import 'nullstyle';
@import 'sending-animation';
@import 'burger';

/*---------------- Variables ----------------*/
$pink: #fa897b;
$content_width: 1170px;
$lateral_indent: 15px;

/*---------------- Templates ----------------*/
%flex_gorizontal {
  display: flex;
  justify-content: space-between;
  @media (max-width: 767px) {
    flex-wrap: wrap;
  }
}

%title {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  color: #404040;
}

%image_centered {
  position: relative;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/*----------------- Mixins ------------------*/

/*-------------------------------------------*/


body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #404040;
  background-color: #fff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.content {
  flex: 1 1 auto;
}

.container {
  max-width: $content_width + 2*$lateral_indent;
  margin: 0px auto;
  padding: 0 $lateral_indent;
}

.title {
  @extend %title;
}


/*-------------------------------------------*/
/*                   header                  */
/*-------------------------------------------*/

.header {
}
.header__menu {
  padding: 15px 0;
  background-color: #fff;
}
.menu {
}
.menu__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__item {
  flex: 0 1 33.333%;
}
.menu__navigation {
  text-align: left;
  min-width: 345px;
  ul {
    font-size: 0;
    li {
      display: inline-block;
      margin-right: 60px;
      a {
        font-size: 15px;
        line-height: 17px;
        color: #404040;
      }
    }
    li:last-child {
      margin-right: 0px;
    }
  }
}
.menu__logo {
  text-align: center;
}
.menu__utility {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menu__search {
  margin-right: 60px;
}
.menu__cart {
  margin-right: 60px;
}
.menu__profile {
}


.header__slider {
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
  height: 600px;
}
.slide {
}
.slide__bgr {
  position: relative;
  overflow: hidden;
  padding-bottom: 45%;
  @media (max-width: 1200px) {
    padding-bottom: 45%;
  }
  @media (max-width: 992px) {
    padding-bottom: 55%;
  }
  @media (max-width: 767px) {
    padding-bottom: 90%;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.slide__container {
  position: relative;
  margin-top: 110px;
  margin-bottom: 55px;
}
.slide__title {
  position: absolute;
  top: 0;
  left: $lateral_indent;
  font-size: 75px;
  font-weight: 500;
  line-height: 1.35;
  color: $pink;
  vertical-align: top;
}


.slider__nav {
  position: relative;
  bottom: 55px + 60px;
  max-width: $content_width;
  margin: 0 auto;
}

.swiper-button-prev,
.swiper-button-next {
  width: 60px;
  height: 60px;
  border: 1px solid #808080;
  &::after {
    font-size: 0;
  }
  &.swiper-button-disabled {
    background-color: #c5c9cb;
    opacity: 1;
  }
}
.swiper-button-prev {
  border-right: none;
}
.swiper-button-next {
  left: 70px;
  border-left: none;
}




/*-------------------------------------------*/
/*                   Content                 */
/*-------------------------------------------*/

/*---------------- Categories ---------------*/

.categories {
  padding: 100px 0;
}
.categories__body {
  @extend %flex_gorizontal;
}
.categories__category {
}
.category {
  position: relative;
  flex: 0 1 300px;
  padding-left: 65px;
}
.category__title {
  position: absolute;
  top: 101%;
  left: 10%;
  width: 305px;
  text-align: center;
  font-size: 36px;
  color: #404040;
  transform-origin: top left;
  transform: rotate(-90deg);
  /*z-index: 10;*/
}
.category__image {
  width: 300px;
  height: 300px;
  background-image: linear-gradient(0.0deg, #d9d9d9 -25%, #f2f2f2 125%);
  @extend %image_centered;
}



/*------------ Featured Products ------------*/

.products {
  padding-bottom: 100px;
}
.products__body {
}
.products__title {
  margin-bottom: 60px;
}
.products__items {
  @extend %flex_gorizontal;
}
.products__item {
}
.product {
  text-align: center;
}
.product__image {
  width: 270px;
  height: 270px;
  border: 1px solid #bfbfbf;
  margin-bottom: 15px;
  @extend %image_centered;
}
.product__title {
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
  color: #404040;
}
.product__price {
  font-weight: 500;
  color: #808080;
}

@media (max-width: 767px) {
  .products__items {
    justify-content: center;
  }
  .product__price {
    margin-bottom: 15px;
  }
}

/*----------------- Our blog ----------------*/

.blog {
  padding-bottom: 100px;
}
.blog__body {
}
.blog__title {
  padding-bottom: 50px;
}
.blog__items {
  @extend %flex_gorizontal;
  @media (max-width: 767px) {
    justify-content: center;
  }
}
.blog__item {
}
.blog-entry {
  max-width: 370px;
}
.blog-entry__image {
  width: 370px;
  height: 225px;
  margin-bottom: 30px;
  @extend %image_centered;
}
.blog-entry__date {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 500;
  color: #808080;
}
.blog-entry__title {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  color: #404040;
}
.blog-entry__link {
  a {
    font-size: 14px;
    font-weight: 400;
    color: #404040;
    line-height: 18px;
    span {
      font-size: 18px;
      line-height: 18px;
      vertical-align: bottom;
    }
  }
}



/*------------- #instagram feed -------------*/

.instagram {
  padding: 60px 0px;
  background-color: #f7f7f7;
}
.instagram__body {
  @extend %flex_gorizontal;
  position: relative;
}
.instagram__image {
  width: 187px;
  height: 187px;
  @extend %image_centered;
}
.instagram__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 197px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: #404040;
  background-color: #fff;
}


/*----------------- subscribe ---------------*/

.subscribe {
  padding: 60px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: $pink;
}
.subscribe__body {
}
.subscribe__form {
  @extend %flex_gorizontal;
  justify-content: center;
  align-items: center;
  &._sending .subscribe__sending-animation {
    opacity: 1;
    visibility: visible;
  }
}
.subscribe__label {
  margin-right: 60px;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  b {
    font-weight: 600;
  }
}
.subscribe__input_body {
  flex: 0 1 670px;
  position: relative;
}
.subscribe__input {
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  border-radius: 25px;
  padding-left: 30px;
  font-size: 14px;
  &._error {
    box-shadow: 0 0 15px red;
  }
}
.subscribe__button {
  position: absolute;
  right: 0px;
  width: 100px;
  height: 50px;
  background-color: #d44848;
  border-radius: 0px 25px 25px 0px;
}
.subscribe__sending-animation {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 767px) {
  .subscribe__label {
    margin-right: 0;
  }
}

/*-------------------------------------------*/
/*                   Footer                  */
/*-------------------------------------------*/

.footer {
  padding: 50px 0 60px 0;
  color: #fff;
  background-color: $pink;
}
.footer__body {
  @extend %flex_gorizontal;
  align-items: center;
}
.footer__logo {
}
.footer__item {
}
.footer-item {
}
.footer-item__title {
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 600;
  color: #ffffff;
}
.footer-item__list {
  li {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    &:last-child {
      margin-bottom: 0px;
    }
    a {
      color: #fff;
    }
    img {
      margin-right: 12px;
    }
  }
}

@media (max-width: 767px) {
  .footer__logo {
    display: none;
  }
  .footer-item__title {
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .footer-item__list {
    li {
      margin-bottom: 5px;
    }
  }
}

